# deps
node_modules/

src/generated/prisma/

.env

python/.venv/
python/pretrained_models/
python/song/
python/__pycache__/
python/.DS_Store
.venv/

.cpython-version/
.DS_Store
__pycache__/

data/
dockerfile
dist